<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Sportify Arena</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">

    <h1>Sportify Arena</h1>

    <a href="/tournament">Tournament</a>

    <a href="/logout">Logout</a>

    <a href="/schedule">Schedule</a>

    <a href="/find_courts">Find Courts</a>

    <a href="/matches">Matches</a>

    <a href="/venues">Venues</a>

    <a href="/add_venue">Add Venue</a>

</nav>

<section class="hero">

    <h2>Welcome {{ user }}</h2>

    <p>
        Play. Compete. Conquer.
    </p>

</section>

<section class="sports-container">

    <div class="card">

        <h2>🏏 Cricket</h2>

        <p>
            Join exciting cricket tournaments
            and compete with top teams.
        </p>

    </div>

    <div class="card">

        <h2>🏐 Volleyball</h2>

        <p>
            Showcase your volleyball skills
            in national level matches.
        </p>

    </div>

    <a href="/tournament" class="card-link">

<div class="card">

    <h2>🏆 Tournaments</h2>

    <p>
        Register your team and track
        live tournament updates.
    </p>

</div>

</a>

</section>

</body>
</html>