<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportify Arena</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <div class="signup-box">

        <h1>Sportify Arena</h1>

        <p>Create Account</p>

        <form action="/signup" method="POST">

            <input
            type="text"
            name="name"
            placeholder="Enter Name"
            required>

            <input
            type="email"
            name="email"
            placeholder="Enter Email"
            required>

            <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required>

            <button type="submit">
                Sign Up
            </button>

        </form>

<p class="switch-page">
    Already have an account?

    <a href="/loginpage">
        Login
    </a>
</p>

    </div>

</div>

</body>
</html>